<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBm82aPmA04EO7c8clfI8Pc97H5AAAtFQw</string>
	<key>GCM_SENDER_ID</key>
	<string>515840314674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceWithFlutterFirebaseAndStripe</string>
	<key>PROJECT_ID</key>
	<string>flutter-stripe-ecommerce-c7edf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-stripe-ecommerce-c7edf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515840314674:ios:ede11c844e2bcdcea3db2b</string>
</dict>
</plist>